<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" th:src="@{/js/header.js}"></script>
</head>
<th:block th:fragment="header">
    <header>
        <div class="main-header">
            <div class="main-header-wrap">

                <!-- 01 로고 -->
                <a th:href="@{/}" class="main-header-logo">
                    <div class="main-header-logo-text">
                        <div>SELECT</div>
                        <div class="main-header-logo-text-star">*</div>
                    </div>
                </a>

                <!-- 02 nav -->
                <div class="main-header-nav">
                    <!-- 02-01 FROM -->
                    <div class="main-header-nav-from">
                        <span class="main-header-nav-from-text">
                            <span>FROM</span>
                        </span>
                    </div>
                    <!-- 02-02 모임 -->
                    <a th:href="@{/meeting}" class="main-header-nav-meeting">
                        <span class="main-header-nav-meeting-text">
                            <span>모임</span>
                        </span>
                    </a>
                    <!-- 02-03 모임 리스트 -->
                    <div class="main-header-nav-meetinglist">
                        <!-- 02-03-01 스터디 -->
                        <a th:href="@{/meeting(category=0)}" class="main-header-nav-meetinglist-text">
                            <span>스터디</span>
                        </a>
                        <!-- 02-03-02 프로젝트 -->
                        <a th:href="@{/meeting(category=1)}" class="main-header-nav-meetinglist-text">
                            <span>프로젝트</span>
                        </a>
                        <!-- 02-03-03 기타 -->
                        <a th:href="@{/meeting(category=2)}" class="main-header-nav-meetinglist-text">
                            <span>기타</span>
                        </a>
                    </div>
                    <!-- 02-04 마이페이지 -->
                    <a th:href="@{/mypage/profile}"  class="main-header-nav-mypage main-header-nav-meetinglist-text" th:if="${session.userId}">
                            <span>마이페이지</span>
                    </a>
                </div>

                <div class="main-header-searchAndBtn">
                    <!-- 03 검색 -->
                    <form action="/search" method="get" id="searchForm">
                        <div class="main-header-search">
                            <input type="text" name="searchWord" class="main-header-search-input" placeholder="검색해보세요!" />
                            <button type="submit" class="main-header-search-button">
                                <div class="main-header-search-glass">
                                    <img th:src="@{/image/home/search.png}">
                                </div>
                            </button>
                        </div>
                    </form>

                    <!-- 04 로그인, 회원가입, 로그아웃 -->
                    <div class="main-header-button">
                        <!-- 로그인하지 않았을 경우 -->
                        <th:block th:unless="${session.userId}">
                            <button class="main-header-button-login" th:onclick="|location.href='@{/login}'|">
                                <span class="main-header-button-login-text">
                                    <span>로그인</span>
                                </span>
                            </button>
                            <button class="main-header-button-signup" th:onclick="|location.href='@{/signup}'|">
                                <span class="main-header-button-signup-text">
                                    <span>회원가입</span>
                                </span>
                            </button>
                        </th:block>

                        <!-- 로그인 했을 경우 -->
                        <th:block th:if="${session.userId}">
                            <button class="main-header-button-logout" th:onclick="|location.href='@{/logout}'|">
                                <span class="main-header-button-logout-text">
                                    <span>로그아웃</span>
                                </span>
                            </button>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('searchForm').addEventListener('submit', function(event) {
                var searchQuery = document.querySelector('.main-header-search-input').value;
                if (!searchQuery) {  // 검색어 없을 경우, 검색 안됨
                    alert('검색어를 입력해주세요!');
                    event.preventDefault();
                } else {
                    window.location.href = '/search?searchWord=' + searchQuery;
                }
            });

        </script>
    </header>
</th:block>

</html>