<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        main{
            padding: 60px;
            width : 90%;
            margin : 0 auto;
        }
        aside{
            width: 20%;
            float: left;
        }
        section{
            width: 80%;
            float: left;
        }

    </style>
</head>
<body>
    <!--/*Header*/-->
    <th:block th:replace="layout/header :: header"></th:block>
    <!--/*Content(with Side)*/-->
    <main>
        <th:block th:replace="layout/sidebar :: sidebarFragment"></th:block>
        <section>
            <th:block layout:fragment="content"></th:block>
        </section>
    </main>
    <!--/*Footer*/-->
    <th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>