<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:data="http://www.w3.org/1999/xhtml">
<!--/* sidebar */-->
<th:block th:fragment="sidebarFragment">
    <style>
        .profile-image{
            width: 100%;

        }
        li {
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: black;
        }
    </style>
    <aside>
        <!--/* profile Image */-->
        <div class="profile-image">
            <form action="/mypage/uploadprofileimg" enctype="multipart/form-data" method="post">
                <th:block th:if="${userDTO.profile_photo} != null">
                    <img style="width:5rem; height:5rem; border-radius:9999px";
                         th:src="@{'data:image/png;base64,' + ${encodeImg}}" alt="Image"><br/>
                </th:block>
               <th:block th:if="${userDTO.profile_photo} == null">
                    <img style="width:5rem; height:5rem; border-radius:9999px;"
                         th:src="@{/image/global/userdefaultimg.png}"/><br/>
                </th:block>
                <span>[[${userDTO.nickname}]]</span><br>
                <span>[[${userDTO.email}]]</span><br>
                <input type="hidden" name="userId" th:value="${userDTO.userId}"/>
                <input type="file" name="profile_photo" accept=".jpg, .png"/>
                <input type="submit" value="수정"/>
            </form>
        </div>
        <!--/* Mypage Menu */-->
        <h5>홈</h5>
        <div>
            <ul>
                <li>
                    <a th:href="@{/mypage/profile}">이력 관리</a>
                </li>
                <li>
                    <a th:href="@{/mypage/myinfo}">개인 정보 수정</a>
                </li>
            </ul>
        </div>
        <h5>모임</h5>
        <span>
            <ul>
                <li>
                    <a th:href="@{/mypage/mymeetinglist}">내가 만든 모임</a>
                </li>
                <li>
                    <a th:href="@{/mypage/myapplymeetinglist}">내가 참여한 모임</a>
                </li>
            </ul>
        </span>
    </aside>
</th:block>
</html>