<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/* sidebar */-->
<th:block th:fragment="sidebarFragment">
    <aside>
        <!--/* profile photo */-->
        <div>
            <img src=""/>
            <span>[[${userDTO.nickname}]]</span><br>
            <span>[[${userDTO.email}]]</span><br>
        </div>
        <button>수정</button>
        <!--/* Mypage Menu */-->
        <h5>홈</h5>
        <div>
            <ul>
                <li>
                    <a href="#">이력 관리</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
        <h5>모임</h5>
        <span>
            <ul>
                <li>
                    <a href="#">내가 만든 모임</a>
                </li>
                <li>
                    <a href="#">내가 참여한 모임</a>
                </li>
            </ul>
        </span>
    </aside>
</th:block>
</html>