<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<!--/* sidebar */-->
<th:block th:fragment="sidebarFragment">
    <aside>
        <!--/* 프로필 사진 */-->
        <div class="frame-profileinfo">
            <form
                    action="/mypage/uploadprofileimg"
                    enctype="multipart/form-data"
                    method="post"
                    class="frame-profile">
                <!-- 등록한 이미지가 있는 경우-->
                <th:block th:if="${userDTO.profile_photo != null && !#strings.isEmpty(encodeImg)}">
                    <img class="profile-img"
                         th:src="@{'data:image/png;base64,' + ${encodeImg}}"
                         alt="Image"><br/>
                </th:block>
                <!-- 등록한 이미지가 없는 경우(default 사용)-->
                <th:block th:if="${userDTO.profile_photo == null || #strings.isEmpty(encodeImg)}">
                    <img class="profile-img"
                         th:src="@{/image/global/userdefaultimg.png}"
                         alt="Image"/><br/>
                </th:block>
                <span class="text-nickname" th:text="${userDTO.nickname}"></span>
                <span class="text-email" th:text="${userDTO.email}"></span>
                <input type="hidden" name="userId" th:value="${userDTO.userId}"/>
                <div class="frame-img-button">
                    <label class="input-file-button" for="inputImgFile">사진 변경</label>
                    <input
                            type="file"
                            id="inputImgFile"
                            name="profile_photo"
                            accept=".jpg, .png"
                            style= "display:none;"
                            required/>
                    <input
                            id="updateimg"
                            class="input-submit"
                            type="submit"
                            value="변경 저장"/>
                </div>
            </form>
        </div>
        <!--/* Mypage Menu */-->
        <div class="frame-sidemenu">
            <div class="frame-sidemenu-home">
                <span class="frame-sidemenu-title">내 정보 관리</span>
                <div>
                    <ul>
                        <li class="side-menu-li">
                            <a class="sidemenu-a" th:href="@{/mypage/profile}">이력 관리</a>
                        </li>
                        <li class="side-menu-li">
                            <a class="sidemenu-a" th:href="@{/mypage/myinfo}">개인 정보 수정</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="frame-sidemenu-meeting">
                <span class="frame-sidemenu-title">모임</span>
                <div>
                    <ul>
                        <li class="side-menu-li">
                            <a class="sidemenu-a" th:href="@{/mypage/mymeetinglist}">내가 만든 모임</a>
                        </li>
                        <li class="side-menu-li">
                            <a class="sidemenu-a" th:href="@{/mypage/myapplymeetinglist}">내가 참여한 모임</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <script th:inline="javascript">
        //이미지 수정 시 미리보기
        function previewImg(event){
            var input = event.target;
            var reader = new FileReader();

            reader.onload = function(){
                var image = document.getElementsByClassName('profile-img');
                image[0].src = reader.result;
            };
            document.getElementById('updateimg').style.display='block';
            reader.readAsDataURL(input.files[0]);
        }
         // 파일 입력 상태 변경 감지
        document.getElementById('inputImgFile').addEventListener('change', previewImg);
    </script>
</th:block>
</html>