<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        .container {
            display: flex;
            gap: 30px 50px;
            flex-direction: row;
            flex-wrap: wrap
        }
    </style>
</head>
<body>

<th:block layout:fragment="content">
    <div th:if="${isFail}">
        <script>
            alert("로그인을 해 주세요!")
            location.href = "/login"
        </script>
    </div>
    <article id="content_list">
        <div style="font-size: 36px">
            <img th:src="@{/image/global/notifications01.png}">
            ORDER BY
            <a href="/meeting/write" class="btn btn-primary"
               style="background-color: #FF9F29; color: white; float: right"> 새 글 작성</a>
            </a>
        </div>
        <div class="container">
            <th:block th:each="meetingDTO, meetingStat:${allMeetingList}">
                <a th:href="|meeting/articles?id=${meetingDTO.meetingId}|">
                    <div class="main-left-content-bottom-meeting"
                         th:style="${meetingDTO.status == 0 ? 'background-color:#FAF3E3;' : 'background-color:#D9D9D9;'}">
                        <!-- 01-02-01 white box -->
                        <div class="main-left-content-bottom-meeting-white">
                            <!-- white box - top -->
                            <div class="main-left-content-bottom-meeting-white-top">
                                <!-- white box - top - category -->
                                <div class="main-left-content-bottom-meeting-white-top-category">
                                    <!-- 0: 스터디, 1:프로젝트, 2: 기타 -->
                                    <span th:if="${meetingDTO.category} == 0"
                                          class="main-left-content-bottom-meeting-white-top-text">
                                       스터디
                                    </span>
                                    <span th:if="${meetingDTO.category} == 1"
                                          class="main-left-content-bottom-meeting-white-top-text">
                                       프로젝트
                                    </span>
                                    <span th:if="${meetingDTO.category} == 2"
                                          class="main-left-content-bottom-meeting-white-top-text">
                                       기타
                                    </span>
                                </div>
                                <!-- white box - top - status -->
                                <div class="main-left-content-bottom-meeting-white-top-status"
                                     th:style="${meetingDTO.status == 0 ? 'background-color:#FF9F29;' : 'background-color:#5F5B5B;'}">
                                    <!-- 0: 모집중, 1:모집완료 -->
                                    <span th:if="${meetingDTO.status}==0"
                                          class="main-left-content-bottom-meeting-white-top-text">
                                        모집중
                                    </span>
                                    <!--  스타일 색 다르게-->
                                    <span th:if="${meetingDTO.status}==1"
                                          class="main-left-content-bottom-meeting-white-top-text">
                                        모집 완료
                                    </span>
                                </div>
                            </div>

                            <!-- white box - bottom -->
                            <div class="main-left-content-bottom-meeting-white-bottom">
                                <!-- white box - location -->
                                <div class="main-left-content-bottom-meeting-white-location">
                                    <div class="main-left-content-bottom-meeting-white-location-icon">
                                        <img th:src="@{/image/global/location01.png}">
                                    </div>
                                    <span class="main-left-content-bottom-meeting-white-location-text"
                                          th:text="${meetingDTO.location}">서울특별시</span>
                                </div>

                                <!-- white box - title -->
                                <div class="main-left-content-bottom-meeting-white-title"
                                     th:text="${meetingDTO.title}">제목
                                </div>

                                <!-- whitebox - deadline -->
                                <div class="main-left-content-bottom-meeting-white-deadline">
                                    <div class="main-left-content-bottom-meeting-white-deadline-icon">
                                        <img th:src="@{/image/global/end_date01.png}">
                                    </div>
                                    <span class="main-left-content-bottom-meeting-white-deadline-text">마감일</span>
                                </div>

                                <!-- whitebox - deadlineText -->
                                <span class="main-left-content-bottom-meeting-white-deadlineText"
                                      th:text="|${meetingDTO.applicationDeadline.year}-${meetingDTO.applicationDeadline.monthValue}-${meetingDTO.applicationDeadline.dayOfMonth} ${meetingDTO.applicationDeadline.hour}시 ${meetingDTO.applicationDeadline.minute}분|">9999.09.09</span>
                            </div>
                        </div>

                        <!-- 01-02-02 yellow box -->
                        <!-- yellowbox - now -->
                        <div class="main-left-content-bottom-meeting-yellow-now">
                            <!-- yellowbox - now - people -->
                            <div class="main-left-content-bottom-meeting-yellow-now-people">
                                <div class="main-left-content-bottom-meeting-yellow-now-people-icon">
                                    <img th:src="@{/image/global/member_count.png}">
                                </div>
                                <div class="main-left-content-bottom-meeting-yellow-now-people-text">
                                    현재
                                    <span class="main-left-content-bottom-meeting-yellow-now-people-text-cnt"
                                          th:text="${meetingDTO.applicationCount}">0</span>명이
                                    참여중입니다!
                                </div>
                            </div>
                            <!-- yellow - now - info -->
                            <div class="main-left-content-bottom-meeting-yellow-now-info">
                                <!-- view -->
                                <div class="main-left-content-bottom-meeting-yellow-now-info-view">
                                    <div class="main-left-content-bottom-meeting-yellow-now-info-view-icon">
                                        <img style="margin-right: 2px; margin-left: 2px;"
                                             th:src="@{/image/global/see_count01.png}">
                                    </div>
                                    <div class="main-left-content-bottom-meeting-yellow-now-info-view-cnt">
                                        <span th:text="${meetingDTO.views}">0</span>
                                    </div>
                                </div>
                                <!-- reply -->
                                <div class="main-left-content-bottom-meeting-yellow-now-info-reply">
                                    <div class="main-left-content-bottom-meeting-yellow-now-info-reply-icon">
                                        <img style="margin-right: 2px; margin-left: 2px;"
                                             th:src="@{/image/home/chat.png}">
                                    </div>
                                    <div class="main-left-content-bottom-meeting-yellow-now-info-reply-cnt">
                                        <span th:text="${commentDao.calcCommentCount(meetingDTO.meetingId)}">0</span>
                                    </div>
                                </div>
                                <!-- heart -->
                                <div class="main-left-content-bottom-meeting-yellow-now-info-heart">
                                    <div class="main-left-content-bottom-meeting-yellow-now-info-view-icon">
                                        <img th:src="@{/image/home/heart.png}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- yellowbox - hashtag -->
                        <div class="main-left-content-bottom-meeting-yellow-hashtag">
                            <div class="main-left-content-bottom-meeting-yellow-hashtag-text">
                                <span> </span>
                                <th:block th:each="ele :${interestListLang.get(meetingStat.index)}">
                                    <span th:text="| ${ele}|"></span>
                                </th:block>
                                <th:block th:each="ele :${interestListFrame.get(meetingStat.index)}">
                                    <span th:text="| ${ele}|"></span>
                                </th:block>
                                <th:block th:each="ele :${interestListJob.get(meetingStat.index)}">
                                    <span th:text="| ${ele}|"></span>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>
        </div>
        <div style="text-align: center; margin-top: 20px">
            <a class="btn btn-primary" th:if="${page} != 0" th:href="@{|/meeting?page=${page-1}|}">
                <span>&lt</span>
            </a>
            <a class="btn btn-primary" th:if="${page*12} <= ${allMeetingList.size()+12} " th:href="@{|/meeting?page=${page+1}|}">
                <span>&gt</span>
            </a>
        </div>
    </article>
    </div>
    </div>

    </article>
    </div>
    <script th:inline="javascript">
        // 모집완료 색 바꾸기
        // 모든 섹션 리스트 조회
        const sectionAll = document.querySelectorAll('[id*=\"card\"]');
        for (const sectionAllKey in sectionAll) {
            sectionAll[sectionAllKey].addEventListener("click", function () {
                window.location.href += "/articles?id=" + sectionAll[sectionAllKey].id.split("_")[1];
            });
        }
    </script>
</th:block>
</body>

</html>