<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        font {
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
        }

        .nanumgothic * {
            font-family: 'Nanum Gothic', sans-serif;
        }

        section {
            border-radius: 5%;
            display: inline-block;
            height: 300px;
            width: 400px;
            margin: 10px;
            background-color: #FAF3E3;
            cursor: pointer;
        }


    </style>
</head>
<body>

<th:block layout:fragment="content">
    <div th:if="${isFail}">
        <script>
            alert("로그인을 해 주세요!")
            location.href = "/login"
        </script>
    </div>
    <article id="content_list">
        <div style="font-size: 36px">
            <img th:src="@{/image/global/notifications01.png}">
            ORDER BY
        </div>
        <div th:each="meetingOne, meetingStat:${allMeetingList}">
            <div style="display: flex" th:if="${meetingStat.index %2 == 0}">
                <section th:id="|section_${allMeetingList.get(meetingStat.index).getMeetingId()}|"
                         class="border border-dark">
                    <div class="main-left-content-bottom-meeting">
                        <div>
                        <span class="btn btn-primary" style="background-color: #1A4D2E; color: white;"
                              th:text="${categoryInfo.get(allMeetingList.get(meetingStat.index).getCategory())}">
                        </span>
                            <span class="btn btn-primary" style="float: right; background-color: #FF9F29; color: white;"
                                  th:text="${statusInfo.get(allMeetingList.get(meetingStat.index).getStatus())}">
                        </span>
                        </div>
                        <div>
                            <img th:src="@{/image/global/location01.png}">
                            <span th:text="${allMeetingList.get(meetingStat.index).getLocation()}"></span>
                            <span style="float: right" th:text="|작성자 : ${userDao.getNameById(allMeetingList.get(meetingStat.index).getUserId())}|"></span>
                        </div>
                        <div style="font-size: 36px;" th:text="${allMeetingList.get(meetingStat.index).getTitle()}">
                        </div>
                        <div>
                            <img th:src="@{/image/global/end_date01.png}">
                            마감일
                        </div>
                        <div th:text="${timeList.get(meetingStat.index)}">
                        </div>

                    </div>
                    <div style="">
                        <img th:src="@{/image/global/member_count.png}">
                        현재
                        <span style="color: #FF9F29"
                              th:text="|${allMeetingList.get(meetingStat.index).getApplicationCount()} 명|">
                        0명
                    </span>
                        <span>
                        이 참가중입니다.
                    </span>
                        <span style=" float: right">
                        <img th:src="@{/image/global/see_count01.png}">
                        <span th:text="${allMeetingList.get(meetingStat.index).getViews()}">
                        </span>
                    </span>
                    </div>
                    <div>
                        <!--/* 언어 프레임워크 직무 3개 가져와서 띄우기 interestListFrame"*/-->
                <span th:each="interestOne, interestStat:${interestListLang.get(meetingStat.index)}">
                    # <span style="color: #1A4D2E" th:if="${interestOne!=null}" th:text="${interestOne}"></span>
                </span>
                <span th:each="interestOne, interestStat:${interestListFrame.get(meetingStat.index)}">
                    # <span style="color: #1A4D2E" th:if="${interestOne!=null}" th:text="${interestOne}"></span>
                </span>
                <span th:each="interestOne, interestStat:${interestListJob.get(meetingStat.index)}">
                    # <span style="color: #1A4D2E" th:if="${interestOne!=null}" th:text="${interestOne}"></span>
                </span>
                <span th:if="${interestListJob.get(meetingStat.index).size()==0}"> </span>
                    </div>
                </section>

                <section th:id="|section_${allMeetingList.get(meetingStat.index+1).getMeetingId()}|"
                         th:if="${meetingStat.index <= (meetingStat.size)-2 }"
                         class="border border-dark">
                    <div class="main-left-content-bottom-meeting">
                        <div>
                        <span class="btn btn-primary" style=" background-color: #1A4D2E; color: white;"
                              th:text="${categoryInfo.get(allMeetingList.get(meetingStat.index+1).getCategory())}">
                        </span>
                            <span class="btn btn-primary"
                                  style="float: right; background-color: #FF9F29; color: white;"
                                  th:text="${statusInfo.get(allMeetingList.get(meetingStat.index+1).getStatus())}">
                        </span>
                        </div>
                        <div style="display: inline">
                            <img th:src="@{/image/global/location01.png}">
                            <span th:text="${allMeetingList.get(meetingStat.index+1).getLocation()}"></span>
                            <span style="float: right" th:text="|작성자 : ${userDao.getNameById(allMeetingList.get(meetingStat.index+1).getUserId())}|"></span>
                        </div>
                        <div style="font-size: 36px;" th:text="${allMeetingList.get(meetingStat.index+1).getTitle()}">
                        </div>
                        <div>
                            <img th:src="@{/image/global/end_date01.png}">
                            마감일
                        </div>
                        <div th:text="${timeList.get(meetingStat.index+1)}">
                        </div>

                    </div>
                    <div style="">
                        <img th:src="@{/image/global/member_count.png}">
                        현재
                        <span style="color: #FF9F29"
                              th:text="|${allMeetingList.get(meetingStat.index+1).getApplicationCount()} 명|">
                        0명
                    </span>
                        <span>
                        이 참가중입니다.
                    </span>
                        <span style=" float: right">
                        <img th:src="@{/image/global/see_count01.png}">
                        <span th:text="${allMeetingList.get(meetingStat.index+1).getViews()}">
                        </span>
                    </span>
                    </div>
                    <div>
                        <!--/* 언어 프레임워크 직무 3개 가져와서 띄우기 interestListFrame"*/-->
                        <span th:each="interestOne, interestStat:${interestListLang.get(meetingStat.index+1)}">
                    # <span style="color: #1A4D2E" th:if="${interestOne!=null}" th:text="${interestOne}"></span>
                </span>
                        <span th:each="interestOne, interestStat:${interestListFrame.get(meetingStat.index+1)}">
                    # <span style="color: #1A4D2E" th:if="${interestOne!=null}" th:text="${interestOne}"></span>
                </span>
                        <span th:each="interestOne, interestStat:${interestListJob.get(meetingStat.index+1)}">
                    # <span style="color: #1A4D2E" th:if="${interestOne!=null}" th:text="${interestOne}"></span>
                </span>
                        <span th:if="${interestListJob.get(meetingStat.index+1).size()==0}"> </span>
                    </div>
                </section>
            </div>
        </div>
        <a href="/meeting/write" class="btn btn-primary"
           style="background-color: #FF9F29; color: white"> 새 글 작성</a>
        <a th:href="@{/meeting?(page=${page}-1)}">
        <button>&lt</button>
        </a>
        <a th:href="@{/meeting?(page=${page}+1)}">
            <button>&gt</button>
        </a>
        </div>
    </article>
    <!-- https://kyurasi.tistory.com/entry/footer-%EB%A7%8C%EB%93%A4%EA%B8%B0-%EA%B2%B9%EC%B9%98%EB%8A%94-%EC%98%A4%EB%A5%98-%EC%9E%A1%EA%B8%B0-->

    <script th:inline="javascript">
        // 모든 섹션 리스트 조회
        const sectionAll = document.querySelectorAll("section");
        for (const sectionAllKey in sectionAll) {
            sectionAll[sectionAllKey].addEventListener("click", function () {
                window.location.href += "/articles?id=" + sectionAll[sectionAllKey].id.split("_")[1];
            });
        }
    </script>
</th:block>

</body>
</html>