<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>회원가입</title>
<link th:href="@{/css/signup.css}" rel="stylesheet" />
<meta charset="utf-8" />
</head>
<body>
<!--회원 가입 내용 container-->
<div class="signup-container">
    <div class="signup-content">
        <!--      01 상단 텍스트 : 로고, 설명 -->
        <div class="signup-top">
            <div class="signup-logo">
                    <span class="signup-text">
                        <span class="signup-text001">SELECT</span>
                        <span class="signup-text002">*</span>
                    </span>
            </div>
            <span class="signup-text003">
                    <span>SELECT *에 오신것을 환영합니다.</span>
                </span>
            <span class="signup-text005">
                    <span>SELECT *는 개발자를 위한 모임 커뮤니티입니다.</span>
                </span>
        </div>

        <!--       02 입력 폼-->
        <div class="signup-selectsignup">

            <!--  02-01 회원 가입 문구  -->
            <span class="signup-text-notification">
                  <span>회원가입에 필요한 기본정보를 입력해주세요.</span>
                </span>

            <!--  02-02 회원 가입 form  -->
            <form action="/signup" method="post">
                <div class="signup-input">
                    <!--  02-02-01 아이디  -->
                    <div class="signup-id">
                        <span class="signup-text013"><span>아이디</span></span>
                        <input
                                type="text"
                                name="name"
                                placeholder="4~15자 이내로 입력해주세요"
                                class="signup-input1"
                        />
                    </div>

                    <!--  02-02-02 비밀번호  -->
                    <div class="signup-password">
                        <span class="signup-text017"><span>비밀번호</span></span>
                        <input
                                type="password"
                                name="password"
                                placeholder="최소 6자 이상(알파벳, 숫자 필수)"
                                class="signup-input2"
                        />
                    </div>

                    <!--  02-02-03 이메일  -->
                    <div class="signup-email">
                        <span class="signup-text019"><span>이메일</span></span>
                        <input
                                type="email"
                                name="email"
                                placeholder="honggildong@select.com"
                                class="signup-input3"
                        />
                    </div>

                    <!--  02-02-04 닉네임  -->
                    <div class="signup-nickname">
                        <span class="signup-text021"><span>닉네임</span></span>
                        <input
                                type="text"
                                name="nickname"
                                placeholder="닉네임을 알파벳, 한글, 숫자를 20자 이하로 입력해주세요."
                                class="signup-input4"
                        />
                    </div>

                    <!--  02-02-05 지역  -->
                    <div class="signup-location">
                        <span class="signup-text023"><span>지역</span></span>
                        <select name="location1" class="signup-geolocation1">
                            <option value="seoul">서울</option>
                            <option value="busan">부산</option>
                        </select>
                    </div>

                    <!--  02-02-06 관심 분야  -->
                    <div class="signup-interest">
                        <span class="signup-text029"><span>관심 분야</span></span>
                        <div class="signup-interest-container">
                            <!--  02-02-06-01 언어  -->
                            <div class="signup-interest-content">
                                <span class="signup-interest-text"><span>언어</span></span>
                                <div class="signup-select">
                                    <input type="hidden" name="interest_language" id="selected-interests-lang" value="">
                                    <button type="button" class="signup-interest-lang-btn" value="Java">Java</button>
                                    <button type="button"  class="signup-interest-lang-btn" value="Python">Python</button>
                                    <button type="button"  class="signup-interest-lang-btn" value="C">C</button>
                                    <button type="button"  class="signup-interest-lang-btn" value="C++">C++</button>
                                    <button type="button"  class="signup-interest-lang-btn" value="C#">C#</button>
                                    <button type="button"  class="signup-interest-lang-btn" value="JavaScript">JavaScript</button>
                                </div>
                            </div>

                            <!--  02-02-06-02 프레임워크  -->
                            <div class="signup-interest-content">
                                <span class="signup-interest-text"><span>프레임워크</span></span>
                                <div class="signup-select">
                                    <input type="hidden" name="interest_framework" id="selected-interests-fw" value="">
                                    <button type="button" class="signup-interest-fw-btn" value="Spring">Spring</button>
                                    <button type="button"  class="signup-interest-fw-btn" value="Django">Django</button>
                                    <button type="button"  class="signup-interest-fw-btn" value="Flask">Flask</button>
                                    <button type="button"  class="signup-interest-fw-btn" value="Vue.js">Vue.js</button>
                                    <button type="button"  class="signup-interest-fw-btn" value="Laravel">Laravel</button>
                                </div>
                            </div>

                            <!--  02-02-06-01 직무  -->
                            <div class="signup-interest-content">
                                <span class="signup-interest-text"><span>직무</span></span>
                                <div class="signup-select">
                                    <input type="hidden" name="interest_job" id="selected-interests-job" value="">
                                    <button type="button" class="signup-interest-job-btn" value="front">프론트엔드</button>
                                    <button type="button"  class="signup-interest-job-btn" value="back">백엔드</button>
                                    <button type="button"  class="signup-interest-job-btn" value="full">풀스택</button>
                                    <button type="button"  class="signup-interest-job-btn" value="android">Android</button>
                                    <button type="button"  class="signup-interest-job-btn" value="IOS">IOS</button>
                                    <button type="button"  class="signup-interest-job-btn" value="designer">디자이너</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!--  02-02-07 약관 동의  -->

                <!--  02-02-08 회원 가입 버튼  -->
                <button class="signup-signupbtnbutton" type="submit">
                    <span class="signup-text106"><span>회원가입</span></span>
                </button>
            </form>


            <!--03 로그인 페이지 이동-->
            <div class="signup-join">
                            <span class="signup-text108">
                              <span>이미 회원이신가요?</span>
                            </span>
                <span class="signup-text110"><span>로그인</span></span>
            </div>
        </div>
    </div>
</div>

<!-- 회원가입 성공 알림창 -->
<script th:if="${not #strings.isEmpty(successMsg)}">
    alert([[${successMessage}]]);
</script>

<script>
    // 관심 분야 선택
    // 버튼 목록, 선택된 관심사 배열, hidden input에 저장
    function selectInterests(buttons, selectedInterests, selectedInterestsInput) {
        buttons.forEach(button => {
            button.addEventListener('click', () => {  // click될 때마다 실행
                const interest = button.value;  // 클릭된 버튼 value

                if (selectedInterests.includes(interest)) {  // 선택되어있으면, 배열에서 제거
                    selectedInterests = selectedInterests.filter(item => item != interest);
                } else {  // 선택되어있지않으면, 배열에 추가
                    selectedInterests.push(interest);
                }

                selectedInterestsInput.value = `_${selectedInterests.join('_')}_`;  // 언더바(_) 추가
                button.classList.toggle('selected');  // 버튼 상태 토글
            });
        });
    }

    // 언어
    const interestLangButtons = document.querySelectorAll('.signup-interest-lang-btn');
    const selectedInterestsLangInput = document.getElementById('selected-interests-lang');
    let selectedInterestsLang = [];
    selectInterests(interestLangButtons, selectedInterestsLang, selectedInterestsLangInput);
    // 프레임워크
    const interestFwButtons = document.querySelectorAll('.signup-interest-fw-btn');
    const selectedInterestsFwInput = document.getElementById('selected-interests-fw');
    let selectedInterestsFw = [];
    selectInterests(interestFwButtons, selectedInterestsFw, selectedInterestsFwInput);
    // 직무
    const interestJobButtons = document.querySelectorAll('.signup-interest-job-btn');
    const selectedInterestsJobInput = document.getElementById('selected-interests-job');
    let selectedInterestsJob = [];
    selectInterests(interestJobButtons, selectedInterestsJob, selectedInterestsJobInput);

</script>
</body>
</html>
