<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
<!--  content  -->
    <th:block layout:fragment="content">
        <div class="main-content-container">
            <!-- left -->
            <div class="main-content-left">
                <!-- order by -->
                <div class="main-content-left-top">
                    <!-- logo -->
                    <div class="main-content-left-title">
                        <div class="main-content-left-title-img">
                            <img
                                    src="public/external/notifications6645-j3d.svg"
                                    alt="notifications6645"
                            />
                        </div>
                        <span class="main-content-left-title-text"><span>ORDER BY</span></span>
                    </div>
                    <!-- arrow btn -->
                    <div class="content-arrow">
                        <div class="content-arrowcircleleft">
                            <img
                                    src="public/external/arrowcircleleft6645-sfbs.svg"
                                    alt="arrowcircleleft6645"
                                    class="content-arrowcircleleft1"
                            />
                        </div>
                        <div class="content-arrowcircleright">
                            <img
                                    src="public/external/arrowcircleright6645-r4gt.svg"
                                    alt="arrowcircleright6645"
                                    class="content-arrowcircleright1"
                            />
                        </div>
                    </div>
                </div>

                <!-- 모임 목록 출력 -->
                <div class="main-left-content-bottom">
                    <div class="main-left-content-bottom-meeting">
                        내용
                    </div>
                    <div class="main-left-content-bottom-meeting">
                        내용
                    </div>
                    <div class="main-left-content-bottom-meeting">
                        내용
                    </div>
                    <div class="main-left-content-bottom-meeting">
                        내용
                    </div>
                </div>
            </div>

            <!-- right -->
            <div class="main-content-right">
                <!-- intro -->
                <div class="main-content-right-intro">
                    <div class="main-content-right-intro-textbox">
                        <span class="main-content-right-intro-text1"><span>개발자 모임은</span></span>
                        <span class="main-content-right-intro-text2">
              <span>SELECT *에서 찾아보자!</span>
            </span>
                    </div>
                    <div class="main-content-right-intro-circle">
                        <img
                                src="public/external/ellipse2126647-4u5h-200h.png"
                                alt="Ellipse2126647"
                                class="content-ellipse"
                        />
                        <img
                                src="public/external/ellipse2136647-cbls-200h.png"
                                alt="Ellipse2136647"
                                class="content-ellipse"
                        />
                        <img
                                src="public/external/ellipse2146647-fvwp-200h.png"
                                alt="Ellipse2146647"
                                class="content-ellipse"
                        />
                    </div>
                </div>

                <!-- rank -->
                <div class="main-content-right-rank">
                    <div class="main-content-right-rank-title">
                        <div class="main-content-right-rank-title-img">
                            <img
                                    src="public/external/localfiredepartment6647-jmks.svg"
                                    alt="localfiredepartment6647"
                                    class="main-content-right-rank-title-img"
                            />
                        </div>
                        <span class="main-content-right-rank-title-text">
              <span>RANK</span>
            </span>
                    </div>
                    <!-- rank list -->
                    <div class="main-content-right-rank-listbox">
                        <!-- 1 to 10 -->
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num-1to3">1</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num-1to3">2</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num-1to3">3</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num">4</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num">5</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num">6</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num">7</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num">8</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num">9</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>
                        <div class="main-content-right-rank-list">
                            <span class="main-content-right-rank-num">10</span>
                            <span class="main-content-right-rank-text">
                <span>
                  공연 티켓팅 관련 사이드 프로젝트 팀원을 모집합니다.
                </span>
              </span>
                        </div>

                    </div>
                </div>
                <!-- rank 끝 -->
            </div>
        </div>
    </th:block>
</body>
</html>