<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*Header*/-->

    <!--/*Content(with Side)*/-->
    <div>
        <div>
            <div>
                <th:block th:replace="sidemenu" :: sidebarFragment></th:block>
            </div>
            <section>
                <th:block layout:fragment="content"></th:block>
            </section>
        </div>
    </div>
<!--/*Footer*/-->
</body>
</html>