<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypagedefault}">
<head>
    <meta charset="UTF-8">
    <title>SELECT*</title>
    <style>
        .infoInput{
            width: 80%;
            border-radius : 5px;
        }
        textarea{
            height: 300px;
            resize: none;
            outline: none;
        }
    </style>
</head>
<body>
    <th:block layout:fragment="content">
        <h1>이력 관리</h1>
        <div>
            <form action="/mypage/updateprofile" method="post">
                <input type="hidden" name="userId" th:value="${userDTO.userId}">
                <h6>나의 소개(한줄 소개)</h6>
                <input class="infoInput" type="text" name="about_me" th:value="${userDTO.about_me}" placeholder="한줄로 간단하게 나를 소개해주세요" >
                <h6>이력관리</h6>
                <textarea class="infoInput" name="profile_content" th:text="${userDTO.profile_content}" placeholder="이력을 상세히 작성해주세요.&#13;&#10;작성예시" ></textarea><br>
                <input type="submit" value="수정하기">
            </form>
        </div>
    </th:block>
</body>
</html>