<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <meta charset="UTF-8">
    <title>검색</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
</head>
<body>
<!--  content  -->
<th:block layout:fragment="content">
    <div class="search-container">
        <div class="search-result">
            <div class="search-title">
                <span class="search-title-word" th:text="${searchWord}"></span>
                <span class="search-title-result">검색결과</span>
            </div>
            <!-- 모임 결과 시작 -->
            <div class="search-meeting-result">
                <!-- search filter -->
                <div class="search-filter">
                    <!-- search filter top -->
                    <div class="search-filter-top">
                        <div class="search-filter-text-meeting">모임</div>
                        <button class="search-filter-btn">
                            <div class="search-filter-btn-title">
                                <div class="search-filter-btn-title-icon">
                                    <img th:src="@{/image/home/filter.png}">
                                </div>
                                <span class="search-filter-btn-title-text"><span>검색 필터</span></span>
                            </div>
                            <div class="search-filter-btn-dropdown">
                                <img th:src="@{/image/home/arrow_drop_down.png}">
                            </div>
                        </button>
                    </div>
                    <!-- search filter select -->
                    <div class="search-filter-select" style="display: none;">
                        <!-- search filter select meeting category -->
                        <div class="search-filter-select-list-meeting">
                            <span class="search-filter-select-title">모임</span>
                            <div class="search-filter-select-category">
                                <button type="button" class="search-filter-select-btn" data-category="category" value="0">스터디</button>
                                <button type="button" class="search-filter-select-btn" data-category="category" value="1">프로젝트</button>
                                <button type="button" class="search-filter-select-btn" data-category="category" value="2">기타</button>
                            </div>
                        </div>
                        <!-- search filter select language category -->
                        <div class="search-filter-select-list-language">
                            <span class="search-filter-select-title">언어</span>
                            <div class="search-filter-select-category">
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="1">Java</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="2">Python</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="3">C#</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="4">C++</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="5">JavaScript</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="6">Ruby</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="7">Swift</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="8">TypeScript</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="9">PHP</button>
                            </div>
                        </div>
                        <!-- search filter select framework category -->
                        <div class="search-filter-select-list-framework">
                            <span class="search-filter-select-title">프레임워크</span>
                            <div class="search-filter-select-category" value="frameworks">
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="1">Spring</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="2">React</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="3">Angular</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="4">Vue.js</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="5">Express.js</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="6">Django</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="7">Ruby on Rails</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="8">Flask</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="9">Laravel</button>
                            </div>
                        </div>
                        <!-- search filter select job category -->
                        <div class="search-filter-select-list-job">
                            <span class="search-filter-select-title">직무</span>
                            <div class="search-filter-select-category" value="jobs">
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="1">프론트엔드</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="2">백엔드</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="3">풀스택</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="4">모바일 앱 개발</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="5">게임 개발</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="6">데이터베이스</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="7">데브옵스</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="8">디자이너</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="9">기획자</button>
                            </div>
                        </div>

                        <div class="search-filter-select-reset">
                            <button class="search-filter-select-reset-button">
                                <div class="search-filter-select-reset-button-icon">
                                    <img th:src="@{/image/home/restart.png}">
                                </div>
                                <span class="search-filter-select-reset-button-text"><span>초기화</span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 결과 출력 시작 -->
                <div class="search-filter-result">
                    <th:block th:if="${searchMeetingResults}">
                        <th:block th:each="meeting : ${searchMeetingResults}">
                            <a th:href="@{/meeting/articles(id=${meeting.meetingId})}" class="search-filter-result-content"
                               th:style="${meeting.status == 0 ? 'background-color:#FAF3E3;' : 'background-color:#D9D9D9;'}">
                                <!-- 01-02-01 white box -->
                                <div class="main-left-content-bottom-meeting-white">
                                    <!-- white box - top -->
                                    <div class="main-left-content-bottom-meeting-white-top">
                                        <!-- white box - top - category -->
                                        <div class="main-left-content-bottom-meeting-white-top-category">
                                            <!-- 0: 스터디, 1:프로젝트, 2: 기타 -->
                                            <span class="main-left-content-bottom-meeting-white-top-text" th:switch="${meeting.category}">
                                                <span th:case="0">스터디</span>
                                                <span th:case="1">프로젝트</span>
                                                <span th:case="2">기타</span>
                                            </span>
                                        </div>
                                        <!-- white box - top - status -->
                                        <div class="main-left-content-bottom-meeting-white-top-status"
                                             th:style="${meeting.status == 0 ? 'background-color:#FF9F29;' : 'background-color:#5F5B5B;'}">
                                            <!-- 0: 모집중, 1:모집완료 -->
                                            <span class="main-left-content-bottom-meeting-white-top-text" th:switch="${meeting.status}">
                                                <span th:case="0">모집중</span>
                                                <span th:case="1">모집완료</span>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- white box - bottom -->
                                    <div class="main-left-content-bottom-meeting-white-bottom">
                                        <!-- white box - location -->
                                        <div class="main-left-content-bottom-meeting-white-location">
                                            <span class="material-icons" style="font-size: 15px;">location_on</span>
                                            <span class="main-left-content-bottom-meeting-white-location-text"
                                                  th:text="${meeting.location}"></span>
                                        </div>

                                        <!-- white box - title -->
                                        <div class="main-left-content-bottom-meeting-white-title"
                                             th:text="${meeting.title}"></div>

                                        <!-- whitebox - deadline -->
                                        <div class="main-left-content-bottom-meeting-white-deadline">
                                            <span class="material-icons" style="font-size: 12px;">calendar_today</span>
                                            <span class="main-left-content-bottom-meeting-white-deadline-text">마감일</span>
                                        </div>

                                        <!-- whitebox - deadlineText -->
                                        <span class="main-left-content-bottom-meeting-white-deadlineText"
                                              th:text="${#temporals.format(meeting.applicationDeadline, 'yyyy. MM. dd HH:mm')}"></span>
                                    </div>
                                </div>

                                <!-- 01-02-02 yellow box -->
                                <!-- yellowbox - now -->
                                <div class="main-left-content-bottom-meeting-yellow-now">
                                    <!-- yellowbox - now - people -->
                                    <div class="main-left-content-bottom-meeting-yellow-now-people">
                                        <span class="material-icons" style="color: #1A4D2E; font-size: 20px;">group</span>
                                        <div class="main-left-content-bottom-meeting-yellow-now-people-text">
                                            현재 <span class="main-left-content-bottom-meeting-yellow-now-people-text-cnt">[[${meeting.applicationCount}]]명</span>이 참여중입니다!
                                        </div>
                                    </div>
                                </div>

                                <!--&lt;!&ndash; yellowbox - hashtag &ndash;&gt;
                                <div class="main-left-content-bottom-meeting-yellow-hashtag">
                                    <div class="main-left-content-bottom-meeting-yellow-hashtag-text">
                                        <span># Java</span>
                                        <span># Spring</span>
                                        <span># 백엔드</span>
                                    </div>
                                </div>-->
                            </a>
                        </th:block>
                    </th:block>
                    <th:block th:if="${noResult}">
                        <div class="search-filter-result-none">
                            <div class="search-filter-result-none-result">
                                <span class="search-filter-result-none-searchWord" th:text="${searchWord}"></span>에 대한 모임 결과가 없습니다.
                            </div>
                            <div>찾으시는 모임이 없나요? 직접 만들어 보세요!</div>
                            <div class="search-filter-result-none-btn">
                                <a th:href="@{/meeting/write}" class="search-filter-result-none-meetingbtn">모임 만들기</a>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!--  결과 출력 끝 -->

<!-- 더보기 버튼 -->
                <!--<button class="search-morebtn">
                    <div class="search-morebtn-icon">
                        <img th:src="@{/image/home/expand_circle_down.png}">
                    </div>
                    <span class="search-morebtn-text"><span>더보기</span></span>
                </button>-->
            </div>
            <!-- 모임 검색 결과 끝 -->

            <!-- 사용자 검색 정보 -->
            <div class="search-nickname-result">
                <div class="search-nickname-title">회원</div>
                <div class="search-nickname-content">
                    <th:block th:if="${searchUserResults}">
                        <th:block th:each="user, userStat : ${searchUserResults}">
                            <a th:href="@{/mypage/profileinfo(id=${user.userId})}"  class="search-nickname-info">
                                <th:block th:if="${encodeImgList[userStat.index]} != null">
                                    <img class="search-user-profile-photo"
                                         th:src="@{'data:image/png;base64,' + ${encodeImgList[userStat.index]}}" alt="Image">
                                </th:block>
                                <th:block th:if="${encodeImgList[userStat.index]} == null">
                                    <img class="search-user-profile-photo"
                                         th:src="@{/image/global/userdefaultimg.png}"/>
                                </th:block>
                                <span class="search-nickname-info-name" th:text="${user.nickname}">닉네임</span>
                                <span class="search-nickname-info-about" th:text="${user.about_me}">한줄평</span>
                            </a>
                        </th:block>
                    </th:block>
                    <th:block th:if="${noUser}">
                        <div class="search-nickname-noUser">찾으시는 회원이 존재하지 않습니다.</div>
                    </th:block>
                </div>
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        // 검색어
        var searchWord = [[${searchWord}]];

        // 검색 필터 보여주기
        const filterButton = document.querySelector('.search-filter-btn');  // 검색 필터 버튼
        const filterSelect = document.querySelector('.search-filter-select');  // 검색 필터 선택 창

        filterButton.addEventListener('click', () => {
            if (filterSelect.style.display == 'none' || filterSelect.style.display == '') {
                filterSelect.style.display = 'block';
            } else {
                filterSelect.style.display = 'none';
            }
        });


        // 검색 필터링
        document.addEventListener('DOMContentLoaded', function() {
            var selectedFilters = {};

            var resetButton = document.querySelector('.search-filter-select-reset-button'); // 초기화 버튼

            function toggleFilter(button) {
                var filterCategory = button.getAttribute('data-category');  // 필터 카테고리 가져오기 (category, languages, frameworks, jobs)
                var filterValue = button.getAttribute('value');

                console.log(filterCategory);
                console.log(filterValue);

                if (!selectedFilters[filterCategory]) {
                    selectedFilters[filterCategory] = [];
                }

                var index = selectedFilters[filterCategory].indexOf(filterValue);
                console.log(index);

                if (index == -1) {
                    selectedFilters[filterCategory].push(filterValue);
                } else {
                    selectedFilters[filterCategory].splice(index, 1);
                }
                button.classList.toggle('selected');
                console.log(selectedFilters);
            }

            var filterButtons = document.querySelectorAll('.search-filter-select-btn');

            filterButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    toggleFilter(this);
                    sendAjaxRequest();
                });
            });

            // 초기화
            var resetButton = document.querySelector('.search-filter-select-reset-button'); // 초기화 버튼
            resetButton.addEventListener('click', function() {
                resetFilters();
            });

            // 초기화 함수
            function resetFilters() {
                var filterButtons = document.querySelectorAll('.search-filter-select-btn');
                filterButtons.forEach(function(button) {
                    button.classList.remove('selected');
                });
                selectedFilters = {}; // 필터 초기화
                sendAjaxRequest();
            }

            function sendAjaxRequest() {
                var xhr = new XMLHttpRequest();
                var url = "/searchResults?searchWord=" + searchWord;

                for (var category in selectedFilters) {
                    url += "&" + category + "=" + selectedFilters[category].join("&" + category + "=");
                }
                console.log(url);

                xhr.onreadystatechange = function () {
                    if (xhr.status == 200) {
                        const searchMeetingResults = JSON.parse(xhr.responseText);
                        updateMeetingResults(searchMeetingResults);
                    }
                };
                xhr.open('GET', url, true);
                xhr.send();
            }

            function updateMeetingResults(meetings) {
                const searchMeetingResultContainer = document.querySelector('.search-filter-result');
                searchMeetingResultContainer.innerHTML = '';

                if (meetings.length > 0) {
                    meetings.forEach(meeting => {
                        const meetingElement = document.createElement('a');

                        meetingElement.href = '/meeting/articles?id=' + meeting.meetingId;

                        const meetingStatusStyle = meeting.status == 0 ? 'background-color:#FF9F29;' : 'background-color:#5F5B5B;';
                        const meetingCategory = meeting.category == 0 ? '스터디' : meeting.category == 1 ? '프로젝트' : '기타';
                        const meetingStatus = meeting.status == 0 ? '모집중' : '모집완료';
                        const deadlineFormatted = new Date(meeting.applicationDeadline).toISOString().slice(0, 16).replace("T", " ");

                        if (meeting.status == 1) {
                            meetingElement.classList.add('search-filter-result-content-status-1');
                        } else {
                            meetingElement.classList.add('search-filter-result-content');
                        }

                        meetingElement.innerHTML = `
                            <div class="main-left-content-bottom-meeting-white">
                                <div class="main-left-content-bottom-meeting-white-top">
                                    <div class="main-left-content-bottom-meeting-white-top-category">
                                        <span class="main-left-content-bottom-meeting-white-top-text">${meetingCategory}</span>
                                    </div>
                                    <div class="main-left-content-bottom-meeting-white-top-status" style="${meetingStatusStyle}">
                                        <span class="main-left-content-bottom-meeting-white-top-text">${meetingStatus}</span>
                                    </div>
                                </div>
                                <div class="main-left-content-bottom-meeting-white-bottom">
                                    <div class="main-left-content-bottom-meeting-white-location">
                                        <span class="material-icons" style="font-size: 15px;">location_on</span>
                                        <span class="main-left-content-bottom-meeting-white-location-text">${meeting.location}</span>
                                    </div>
                                    <div class="main-left-content-bottom-meeting-white-title">${meeting.title}</div>
                                    <div class="main-left-content-bottom-meeting-white-deadline">
                                        <span class="material-icons" style="font-size: 12px;">calendar_today</span>
                                        <span class="main-left-content-bottom-meeting-white-deadline-text">마감일</span>
                                    </div>
                                    <span class="main-left-content-bottom-meeting-white-deadlineText">${deadlineFormatted}</span>
                                </div>
                            </div>
                            <div class="main-left-content-bottom-meeting-yellow-now">
                                <div class="main-left-content-bottom-meeting-yellow-now-people">
                                    <div class="main-left-content-bottom-meeting-yellow-now-people-icon">
                                        <img src="/image/global/member_count.png">
                                    </div>
                                    <div class="main-left-content-bottom-meeting-yellow-now-people-text">
                                        현재 <span class="main-left-content-bottom-meeting-yellow-now-people-text-cnt">${meeting.applicationCount}</span>명이 참여중입니다!
                                    </div>
                                </div>
                            </div>
                        `;

                        searchMeetingResultContainer.appendChild(meetingElement);
                    });
                } else {
                    const noResultElement = document.createElement('div');
                    noResultElement.classList.add('search-filter-result-none');

                    noResultElement.innerHTML = `
                        <div class="search-filter-result-none-result">
                            <span class="search-filter-result-none-searchWord">${searchWord}</span>에 대한 모임 결과가 없습니다.
                        </div>
                        <div>찾으시는 모임이 없나요? 직접 만들어 보세요!</div>
                        <div class="search-filter-result-none-btn">
                            <a href="/meeting/write" class="search-filter-result-none-meetingbtn">모임 만들기</a>
                        </div>
                    `;
                    searchMeetingResultContainer.appendChild(noResultElement);
                }
            }
        });
    </script>
</th:block>
</body>
</html>

