<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <meta charset="UTF-8">
    <title>검색</title>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
</head>
<body>
<!--  content  -->
<th:block layout:fragment="content">
    <div class="search-container">
        <div class="search-result">
            <div class="search-title">
                <span class="search-title-word" th:text="${searchWord}"></span>
                <span class="search-title-result">검색결과</span>
            </div>
            <!-- 모임 결과 시작 -->
            <div class="search-meeting-result">
                <!-- search filter -->
                <div class="search-filter">
                    <!-- search filter top -->
                    <div class="search-filter-top">
                        <div class="search-filter-text-meeting">모임</div>
                        <button class="search-filter-btn">
                            <div class="search-filter-btn-title">
                                <div class="search-filter-btn-title-icon">
                                    <img th:src="@{/image/home/filter.png}">
                                </div>
                                <span class="search-filter-btn-title-text"><span>검색 필터</span></span>
                            </div>
                            <div class="search-filter-btn-dropdown">
                                <img th:src="@{/image/home/arrow_drop_down.png}">
                            </div>
                        </button>
                    </div>
                    <!-- search filter select -->
                    <div class="search-filter-select" style="display: none;">
                        <!-- search filter select meeting category -->
                        <div class="search-filter-select-list-meeting">
                            <span class="search-filter-select-title">모임</span>
                            <div class="search-filter-select-category">
                                <button type="button" class="search-filter-select-btn" data-category="category" value="0">스터디</button>
                                <button type="button" class="search-filter-select-btn" data-category="category" value="1">프로젝트</button>
                                <button type="button" class="search-filter-select-btn" data-category="category" value="2">기타</button>
                            </div>
                        </div>
                        <!-- search filter select language category -->
                        <div class="search-filter-select-list-language">
                            <span class="search-filter-select-title">언어</span>
                            <div class="search-filter-select-category">
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="Java">Java</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="Python">Python</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="C">C</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="C++">C++</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="JavaScript">JavaScript</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="Kotiln">Kotiln</button>
                                <button type="button" class="search-filter-select-btn" data-category="languages" value="TypeScript">TypeScript</button>
                            </div>
                        </div>
                        <!-- search filter select framework category -->
                        <div class="search-filter-select-list-framework">
                            <span class="search-filter-select-title">프레임워크</span>
                            <div class="search-filter-select-category" value="frameworks">
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="Spring">Spring</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="Django">Django</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="Flask">Flask</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="Laravel">Laravel</button>
                                <button type="button" class="search-filter-select-btn" data-category="frameworks" value="Vue.js">Vue.js</button>
                            </div>
                        </div>
                        <!-- search filter select job category -->
                        <div class="search-filter-select-list-job">
                            <span class="search-filter-select-title">직무</span>
                            <div class="search-filter-select-category" value="jobs">
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="frontend">프론트엔드</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="backend">백엔드</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="full">풀스택</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="Android">Android</button>
                                <button type="button" class="search-filter-select-btn" data-category="jobs" value="IOS">IOS</button>
                            </div>
                        </div>

                        <div class="search-filter-select-reset">
                            <button class="search-filter-select-reset-button">
                                <div class="search-filter-select-reset-button-icon">
                                    <img th:src="@{/image/home/restart.png}">
                                </div>
                                <span class="search-filter-select-reset-button-text"><span>초기화</span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 결과 출력 시작 -->
                <div class="search-filter-result">
                    <th:block th:if="${searchMeetingResult != null || searchMeetingResult != ''}" th:each="meeting : ${searchMeetingResults}">
                        <a th:href="@{/meeting/articles(id=${meeting.meetingId})}" class="search-filter-result-content">
                            <!-- 01-02-01 white box -->
                            <div class="main-left-content-bottom-meeting-white">
                                <!-- white box - top -->
                                <div class="main-left-content-bottom-meeting-white-top">
                                    <!-- white box - top - category -->
                                    <div class="main-left-content-bottom-meeting-white-top-category">
                                        <!-- 0: 스터디, 1:프로젝트, 2: 기타 -->
                                        <span class="main-left-content-bottom-meeting-white-top-text"
                                              th:switch="${meeting.category}">
                                        <span th:case="0">스터디</span>
                                        <span th:case="1">프로젝트</span>
                                        <span th:case="2">기타</span>
                                    </span>
                                    </div>
                                    <!-- white box - top - status -->
                                    <div class="main-left-content-bottom-meeting-white-top-status">
                                        <!-- 0: 모집중, 1:모집완료 -->
                                        <span class="main-left-content-bottom-meeting-white-top-text"
                                              th:switch="${meeting.status}">
                                        <span th:case="0">모집중</span>
                                        <span th:case="1">모집완료</span>
                                    </span>
                                    </div>
                                </div>

                                <!-- white box - bottom -->
                                <div class="main-left-content-bottom-meeting-white-bottom">
                                    <!-- white box - location -->
                                    <div class="main-left-content-bottom-meeting-white-location">
                                        <div class="main-left-content-bottom-meeting-white-location-icon">
                                            <img th:src="@{/image/global/location01.png}">
                                        </div>
                                        <span class="main-left-content-bottom-meeting-white-location-text"
                                              th:text="${meeting.location}"></span>
                                    </div>

                                    <!-- white box - title -->
                                    <div class="main-left-content-bottom-meeting-white-title"
                                         th:text="${meeting.title}"></div>

                                    <!-- whitebox - deadline -->
                                    <div class="main-left-content-bottom-meeting-white-deadline">
                                        <div class="main-left-content-bottom-meeting-white-deadline-icon">
                                            <img th:src="@{/image/global/end_date01.png}">
                                        </div>
                                        <span class="main-left-content-bottom-meeting-white-deadline-text">마감일</span>
                                    </div>

                                    <!-- whitebox - deadlineText -->
                                    <span class="main-left-content-bottom-meeting-white-deadlineText"
                                          th:text="${#temporals.format(meeting.applicationDeadline, 'yyyy. MM. dd')}">?</span>
                                </div>
                            </div>

                            <!-- 01-02-02 yellow box -->
                            <!-- yellowbox - now -->
                            <div class="main-left-content-bottom-meeting-yellow-now">
                                <!-- yellowbox - now - people -->
                                <div class="main-left-content-bottom-meeting-yellow-now-people">
                                    <div class="main-left-content-bottom-meeting-yellow-now-people-icon">
                                        <img th:src="@{/image/global/member_count.png}">
                                    </div>
                                    <div class="main-left-content-bottom-meeting-yellow-now-people-text">
                                        현재
                                        <span class="main-left-content-bottom-meeting-yellow-now-people-text-cnt"
                                              th:text="${meeting.applicationCount}">0</span>명이
                                        참여중입니다!
                                    </div>
                                </div>
                            </div>

                            <!--&lt;!&ndash; yellowbox - hashtag &ndash;&gt;
                            <div class="main-left-content-bottom-meeting-yellow-hashtag">
                                <div class="main-left-content-bottom-meeting-yellow-hashtag-text">
                                    <span># Java</span>
                                    <span># Spring</span>
                                    <span># 백엔드</span>
                                </div>
                            </div>-->
                        </a>
                    </th:block>
                    <th:block th:if="${searchMeetingResult == null || searchMeetingResult == ''}">
                        <div class="search-filter-result-none">
                            <div class="search-filter-result-none-result">
                                <span class="search-filter-result-none-searchWord" th:text="${searchWord}"></span>에 대한 모임 결과가 없습니다.
                            </div>
                            <div>찾으시는 모임이 없나요? 직접 만들어 보세요!</div>
                            <div class="search-filter-result-none-btn">
                                <a th:href="@{/meeting/write}" class="search-filter-result-none-meetingbtn">모임 만들기</a>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!--  결과 출력 끝 -->

<!-- 더보기 버튼 -->
                <!--<button class="search-morebtn">
                    <div class="search-morebtn-icon">
                        <img th:src="@{/image/home/expand_circle_down.png}">
                    </div>
                    <span class="search-morebtn-text"><span>더보기</span></span>
                </button>-->
            </div>
            <!-- 모임 검색 결과 끝 -->

            <!-- 사용자 검색 정보 -->
            <div class="search-nickname-result">
                <div class="search-nickname-title">회원</div>
                <div class="search-nickname-content">
                    <th:block th:if="${searchUserResults != null and not #lists.isEmpty(searchUserResults)}">
                        <th:block th:each="user : ${searchUserResults}">
                            <div class="search-nickname-info">
                                <!-- !! 프로필 이미지 예정-->
                                <img th:src="@{/image/home/profileImg.png}">
                                <span class="search-nickname-info-name" th:text="${user.nickname}">닉네임</span>
                                <span class="search-nickname-info-about" th:text="${user.about_me != null} ? ${user.about_me} : '한줄평 없음'">한줄평</span>
                            </div>
                        </th:block>
                        <th:block th:unless="${searchUserResults != null and not #lists.isEmpty(searchUserResults)}">
                            찾으시는 회원이 존재하지 않습니다.
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        // 검색어
        var searchWord = [[${searchWord}]];

        // 검색 필터 보여주기
        const filterButton = document.querySelector('.search-filter-btn');  // 검색 필터 버튼
        const filterSelect = document.querySelector('.search-filter-select');  // 검색 필터 선택 창

        filterButton.addEventListener('click', () => {
            if (filterSelect.style.display == 'none' || filterSelect.style.display == '') {
                filterSelect.style.display = 'block';
            } else {
                filterSelect.style.display = 'none';
            }
        });


        // 검색 필터링
        document.addEventListener('DOMContentLoaded', function() {
            var selectedFilters = {};

            var resetButton = document.querySelector('.search-filter-select-reset-button'); // 초기화 버튼

            function toggleFilter(button) {
                var filterCategory = button.getAttribute('data-category');  // 필터 카테고리 가져오기 (category, languages, frameworks, jobs)
                var filterValue = button.getAttribute('value');

                console.log(filterCategory);
                console.log(filterValue);

                if (!selectedFilters[filterCategory]) {
                    selectedFilters[filterCategory] = [];
                }

                var index = selectedFilters[filterCategory].indexOf(filterValue);
                console.log(index);

                if (index == -1) {
                    selectedFilters[filterCategory].push(filterValue);
                } else {
                    selectedFilters[filterCategory].splice(index, 1);
                }
                button.classList.toggle('selected');
                console.log(selectedFilters);
            }

            var filterButtons = document.querySelectorAll('.search-filter-select-btn');

            filterButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    toggleFilter(this);
                    sendAjaxRequest();
                });
            });

            // 초기화
            var resetButton = document.querySelector('.search-filter-select-reset-button'); // 초기화 버튼
            resetButton.addEventListener('click', function() {
                resetFilters();
            });

            // 초기화 함수
            function resetFilters() {
                var filterButtons = document.querySelectorAll('.search-filter-select-btn');
                filterButtons.forEach(function(button) {
                    button.classList.remove('selected');
                });
                selectedFilters = {}; // 필터 초기화
                sendAjaxRequest();
            }

            function sendAjaxRequest() {
                var xhr = new XMLHttpRequest();
                var url = "/searchResults?searchWord=" + searchWord;

                for (var category in selectedFilters) {
                    url += "&" + category + "=" + selectedFilters[category].join("&" + category + "=");
                }
                console.log(url);

                xhr.onreadystatechange = function () {
                    if (xhr.status == 200) {
                        const searchMeetingResults = JSON.parse(xhr.responseText);
                        updateMeetingResults(searchMeetingResults);
                    }
                };
                xhr.open('GET', url, true);
                xhr.send();
            }

            function updateMeetingResults(meetings) {
                const searchMeetingResultContainer = document.querySelector('.search-filter-result');
                searchMeetingResultContainer.innerHTML = '';

                meetings.forEach(meeting => {
                    const meetingElement = document.createElement('a');
                    meetingElement.classList.add('search-filter-result-content');

                    meetingElement.href = '/meeting/articles?id='+meeting.meetingId;

                    meetingElement.innerHTML = `
                        <div class="main-left-content-bottom-meeting-white">
                            <div class="main-left-content-bottom-meeting-white-top">
                                <div class="main-left-content-bottom-meeting-white-top-category">
                                    <span class="main-left-content-bottom-meeting-white-top-text">
                                        ${meeting.category == 0 ? '스터디' : meeting.category == 1 ? '프로젝트' : '기타'}
                                    </span>
                                </div>
                                <div class="main-left-content-bottom-meeting-white-top-status">
                                    <span class="main-left-content-bottom-meeting-white-top-text">
                                        ${meeting.status == 0 ? '모집중' : '모집완료'}
                                    </span>
                                </div>
                            </div>
                                <div class="main-left-content-bottom-meeting-white-bottom">
                                    <div class="main-left-content-bottom-meeting-white-location">
                                        <div class="main-left-content-bottom-meeting-white-location-icon">
                                            <img src="/image/global/location01.png">
                                        </div>
                                        <span class="main-left-content-bottom-meeting-white-location-text">${meeting.location}</span>
                                    </div>

                                    <div class="main-left-content-bottom-meeting-white-title">${meeting.title}</div>


                                    <div class="main-left-content-bottom-meeting-white-deadline">
                                        <div class="main-left-content-bottom-meeting-white-deadline-icon">
                                            <img src="/image/global/end_date01.png">
                                        </div>
                                        <span class="main-left-content-bottom-meeting-white-deadline-text">마감일</span>
                                    </div>

                                    <span class="main-left-content-bottom-meeting-white-deadlineText">
                                        <span>${meeting.applicationDeadline}</span>
                                    </span>
                                </div>
                            </div>

                            <div class="main-left-content-bottom-meeting-yellow-now">
                                <div class="main-left-content-bottom-meeting-yellow-now-people">
                                    <div class="main-left-content-bottom-meeting-yellow-now-people-icon">
                                        <img src="/image/global/member_count.png">
                                    </div>
                                    <div class="main-left-content-bottom-meeting-yellow-now-people-text">
                                        현재 <span class="main-left-content-bottom-meeting-yellow-now-people-text-cnt">${meeting.applicationCount}</span>명이 참여중입니다!
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                    searchMeetingResultContainer.appendChild(meetingElement);
                });
            }
        });
    </script>
</th:block>
</body>
</html>

