<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>SELECT*</title>
    <link th:href="@{/css/userprofile.css}" rel="stylesheet" />
</head>
<body>
    <th:block layout:fragment="content">
        <div class="frame-container">
            <div class="frame-profile">
                <div class="profile-title">
                    <span class="user-nicname-text" th:text="${userDTO.nickname}"></span>님의 프로필
                </div>
                <!--사용자 이미지-->
                <div class="frame-user-img">
                    <th:block th:if="${userDTO.profilePhoto != null && !#strings.isEmpty(encodeImg)}">
                        <img class="profile-img"
                             th:src="@{'data:image/png;base64,' + ${encodeImg}}"
                             alt="Image"/>
                    </th:block>
                    <th:block th:if="${userDTO.profilePhoto == null || #strings.isEmpty(encodeImg)}">
                        <img class="profile-img"
                             th:src="@{/image/global/userdefaultimg.png}"
                             alt="Image"/>
                    </th:block>
                </div>
                <!--사용자 정보(nickname, email, 한줄소개)-->
                <div class="frame-profile-info">
                    <div class="profile-info-text" th:text="${userDTO.nickname}">별명</div>
                    <div class="profile-info-text" th:text="${userDTO.email}">이메일</div>
                </div>
                <div class="frame-profile-oneline">
                    <div class="profile-oneline-title">한줄소개</div>
                    <p class="profile-oneline-text" th:text="${userDTO.aboutMe}"></p>
                </div>
            </div>
            <!--사용자 이력 -->
            <div class="frame-profile-content">
                <div class="profile-title">
                    <span class="user-nicname-text" th:text="${userDTO.nickname}"></span>님의 이력
                </div>
                <!--<h2>사용자 이력</h2>-->
                <textarea
                        class="profile-info-textarea"
                        name="profileContent"
                        th:text="${userDTO.profileContent}"
                        readonly>
                    </textarea>
            </div>
        </div>
    </th:block>
</body>
</html>